controllers:
    resource:
        path: ../src/Controller/
        namespace: App\Controller
    type: attribute

# Live Components
_live_component:
    resource: '@LiveComponentBundle/config/routes.php'
