version: '3.6'

services:
  qdrant:
    container_name: ddev-${DDEV_SITENAME}-qdrant
    image: qdrant/qdrant:latest
    restart: "no"
    labels:
      com.ddev.site-name: ${DDEV_SITENAME}
      com.ddev.approot: ${DDEV_APPROOT}
    expose:
      - "6333"
      - "6334"
    ports:
      - "6333:6333"
    environment:
      - QDRANT__SERVICE__GRPC_PORT=6334
    volumes:
      - qdrant_storage:/qdrant/storage

volumes:
  qdrant_storage:
